.basket__wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.product-list__wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-total__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 25%;
  height: 165px;
  padding: 10px;
  border-bottom: 1px solid var(--main-light);
  background-color: var(--dark-grey);
  box-shadow: 0 0 5px rgba(246, 244, 213, 1);
  color: var(--main-light);
}

.basket__reset-btn {
  max-width: 300px;
}

.modal-cart__content {
  max-width: 350px;
  height: 100px;
  display: flex;
  background-color: var(--main-light);
  color: var(--text-dark);
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 15px;
}

.cart-empty-message {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  margin-top: 30px;
  align-items: center;
}

.cart-empty-message i {
  font-size: 3em;
}

.poor-moon-image {
  width: 250px;
}

@media screen and (max-width: 1120px) {
  .basket__wrapper {
    width: 100%;
  }

  .product-list__wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 770px) {
  .basket__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    width: 100%;
  }

  .product-list__wrapper {
    width: 100%;
  }

  .product-total__wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .product-basket__text-wrapper {
    gap: 16px;
  }

  .product-basket__prices-wrapper {
    flex-direction: column;
  }
}
