.basket__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-list__wrapper {
  width: 70%;
}

.product-total__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 25%;
  padding: 10px;
  border-bottom: 1px solid var(--main-light);
  background-color: var(--dark-grey);
  box-shadow: 0 0 5px rgba(246, 244, 213, 1);
  color: var(--main-light);
}
