.about-us-wrapper {
  background-image: url("../../../public/img/about-us-fon.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-us__rs-school-logo {
  width: 150px;
}

.intro-wrapper {
  width: 100%;
  display: flex;
  gap: 30px;
}

.intro-first-wrapper,
.intro-second-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  font-size: 15px;
}

.intro-paragraph {
  text-indent: 40px;
}

.developers-wrapper {
  display: flex;
  gap: 20px;
}

.nadyavalin-wrapper,
.raenlin-wrapper,
.katika-wrapper {
  width: 35%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--dark-grey);
  box-shadow: 0 0 5px rgba(246, 244, 213, 1);
  color: var(--main-light);
}

.developers-image {
  width: 250px;
  box-shadow: 0 0 2px rgba(246, 244, 213, 1);
}

.developers-name {
  font-size: 18px;
  font-weight: 600;
  color: var(--blue-hover);
}

.developers-position {
  font-size: 22px;
  font-weight: 600;
  color: var(--accent-green);
}

.developers-github-link {
  color: var(--main-light);
  text-decoration: underline;
  transition: all 0.3s ease;
}

.developers-bio {
  font-size: 13px;
}

@media (hover: hover) {
  .developers-github-link:hover {
    text-decoration: none;
    color: var(--blue-hover);
  }
}

@media screen and (max-width: 900px) {
  .developers-wrapper {
    flex-direction: column;
  }

  .nadyavalin-wrapper,
  .raenlin-wrapper,
  .katika-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .intro-wrapper {
    align-items: center;
    flex-direction: column;
  }

  .intro-first-wrapper,
  .intro-second-wrapper {
    width: 100%;
  }
}
