.product-basket-item {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  padding: 10px;
  border-bottom: 1px solid var(--main-light);
  background-color: var(--dark-grey);
  box-shadow: 0 0 5px rgba(246, 244, 213, 1);
  color: var(--main-light);
}

.product-basket__image {
  width: 120px;
  height: 120px;
  box-shadow: 0 0 2px rgba(246, 244, 213, 1);
}

.product-basket__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-basket__amount-sizes-wrapper {
  display: flex;
  gap: 55px;
}

.product-basket__size-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.product-basket__prices-wrapper {
  display: flex;
  gap: 20px;
}

.product-basket__amount-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-basket__price-wrapper,
.product-basket__discount-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-basket__price,
.product-basket__discount {
  font-size: 13px;
}

.amount-button {
  border: 1px solid var(--main-light);
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.trash-button {
  transition: color 0.5s ease;
}

.product-basket__delete-button-wrapper {
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
}

.product-basket__small-text {
  font-size: 12px;
  font-weight: 600;
}

.product-basket__discount {
  color: var(--accent-red);
}

@media (hover: hover) {
  .amount-button:hover {
    background-color: var(--card-hover);
  }

  .trash-button:hover {
    color: var(--accent-blue);
  }
}

@media screen and (max-width: 600px) {
  .product-basket__image {
    width: 230px;
    height: 230px;
  }

  .product-basket__amount-sizes-wrapper {
    flex-direction: column;
    gap: 8px;
  }
}

@media screen and (max-width: 500px) {
  .product-basket-item {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .product-basket__amount-sizes-wrapper {
    flex-direction: row;
    gap: 30px;
  }

  .product-basket__delete-button-wrapper {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

@media screen and (max-width: 400px) {
  .product-basket__image {
    width: 100%;
    height: 100%;
  }

  .product-basket__delete-button-wrapper {
    top: auto;
    bottom: 10px;
  }
}
