.profile-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin: 20px;
  max-width: 1000px;
}

.addresses-shipping-wrapper,
.addresses-billing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.profile-account-wrapper,
.addresses-shipping-info,
.addresses-billing-info {
  background-color: var(--dark-grey);
  padding: 0 40px 40px 40px;
  box-shadow: 0 0 5px rgba(246, 244, 213, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.profile-account__data div,
.address__data div {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 20px;
}

.profile-account__data span,
.address__data span {
  display: inline-block;
  width: 80px;
  text-transform: uppercase;
}
.profile-addresses-wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.profile-wrapper input,
.profile-wrapper select,
.profile-wrapper label {
  padding: 10px;
  border-bottom: 1px solid var(--main-light);
  background-color: var(--main-dark);
  color: var(--main-light);
  pointer-events: none;
  font-style: italic;
  width: 190px;
}
.profile-wrapper.option-country option {
  color: var(--main-dark);
}
.profile-wrapper label {
  border-bottom: none;
}
.profile-wrapper span {
  font-size: 0.9em;
}
.profile-wrapper i {
  margin-top: 20px;
  font-size: 2em;
}
.profile__checkbox-wrapper label {
  margin-top: 30px;
  padding: 0;
}

.edit-btn {
  font-size: 0.6em;
  border: none;
  color: var(--accent-blue);
  cursor: pointer;
  align-self: flex-start;
  margin-top: 10px;
  width: 20px;
}
.edit-btn:hover {
  color: var(--blue-hover);
}

.active-input.field {
  pointer-events: auto;
  border: 1px solid var(--main-light);
}

.password-current_wrapper,
.password-new_wrapper {
  opacity: 0;
}

.error-message {
  max-width: 350px;
}

.disabled-icon {
  color: var(--text-dark);
  cursor: not-allowed;
  pointer-events: none;
}
@media (max-width: 1023px) {
  .profile-addresses-wrapper {
    flex-direction: column;
  }
  .profile-account-wrapper,
  .addresses-shipping-info,
  .addresses-billing-info {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .profile-account-wrapper,
  .addresses-shipping-info,
  .addresses-billing-info {
    padding: 0 15px 15px 15px;
  }
}
