
.registration-form {
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title-registration {
  font-size: 1.5em;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--main-light);
}

input {
  width: 90%;
  border: none;
  margin-top: 20px;
  padding: 10px 5%;
  background-color: var(--light-grey);
}

select,
select option {
  margin-top: 20px;
  width: 100%;
  padding: 10px 5%;
  background-color: var(--light-grey);
}

input:valid,
select:valid {
  border: none;
  box-shadow: inset 0px 0px 10px var(--accent-blue);
}

input:invalid {
  box-shadow: inset 0px 0px 10px var(--accent-red);
}

input[type="submit"] {
  box-shadow: none;
}

input[type="checkbox"] {
  box-shadow: none;
}

.label {
  font-size: 1em;
  margin-top: 20px;
  color: var(--main-light);
}

.addresses-wrapper {
  margin-top: 20px;
  border-top: 1px solid var(--main-light);
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 20px;
}

.error-message {
  margin-top: 5px;
  font-size: 0.8em;
  color: var(--main-light);
}

