.registration-form {
  padding: 20px 0 20px 0;
}

.label {
  font-size: 1em;
  margin-top: 20px;
  color: var(--main-light);
}

.addresses-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address-wrapper {
  border-top: 1px solid var(--main-light);
}

.login-link-wrapper {
  margin-top: 20px;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.registration-form button {
  margin-top: 20px;
}
