.catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  flex: 1 0 20%;
  background-color: var(--card-grey);
  cursor: pointer;
  border-radius: 8px;
}

.card__img {
  overflow: hidden;
}

.card__img-inner {
  position: relative;
  display: flex;
  flex-direction: row;
}

.card__img-item {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.card__name {
  padding: 10px;
}

.card__description {
  padding: 10px;
}

.card__price {
  text-decoration: line-through;
}

.card__discount {
  color: var(--accent-red);
}

@media screen and (max-width: 900px) {
  .card {
    flex: 1 0 30%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    flex: 1 0 35%;
  }
}

@media screen and (max-width: 400px) {
  .card {
    flex: 1 0 100%;
  }
}
