.catalog {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  flex-grow: 1;
}

.categories-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  flex-shrink: 0;
}

.category-wrapper {
  display: flex;
  gap: 10px;
}

.child-categories-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category-parent,
.category-child {
  cursor: pointer;
  transition: color 0.5s ease;
}

.category-parent {
  font-weight: 600;
}

.category-child::before {
  content: "\27A0";
}

@media (hover: hover) {
  .category-parent:hover,
  .category-child:hover {
    color: var(--accent-blue);
  }
}

@media (max-width: 1050px) {
  .catalog-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .catalog-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .card__description {
    -webkit-line-clamp: 3;
  }

  .categories-wrapper {
    padding: 5px;
  }

  .catalog-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 450px) {
  .catalog {
    gap: 10px;
  }

  .card__name,
  .card__description,
  .card__button,
  .category-parent {
    font-size: 14px;
    -webkit-line-clamp: 2;
  }

  .category-child {
    font-size: 12px;
  }

  .category-wrapper {
    flex-direction: column;
  }

  .categories-wrapper {
    align-items: flex-start;
  }
}
