.filter-wrapper,
.sort-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 15px;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 320px;
  padding: 20px;
  background-color: var(--dark-grey);
  z-index: 50;
}

.filter-sort__buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.filter__heading,
.sort__heading {
  margin: 20px 0;
  padding: 10px;
  border-bottom: 1px solid var(--main-light);
}

.price,
.size {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
}

.filter-wrapper input {
  width: 80px;
  height: 30px;
  margin-top: 0;
}

.filter-wrapper label,
.sort-wrapper label {
  padding-top: 7px;
  cursor: pointer;
}

.price__heading {
  margin-top: 20px;
  align-self: flex-start;
}

.filter__buttons-wrapper,
.sort__buttons-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

svg.sort-icon,
svg.filter-icon {
  width: 30px;
  height: 30px;
  fill: var(--main-light);
  cursor: pointer;
}

svg.sort-icon {
  fill: none;
}

.sort__price-wrapper,
.sort__name-wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
