.product__wrapper {
  width: 75%;
  display: flex;
  gap: 16px;
}

.product__text-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product__size-item {
  border: 1px solid var(--main-light);
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.product__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.prices__wrapper {
  display: flex;
  gap: 30px;
}

.discount__wrapper {
  width: 75px;
}

.price-text,
.discount-text {
  font-size: 12px;
  font-weight: 600;
}

.product__price {
  text-decoration: line-through;
}

.discount-text {
  color: var(--accent-red);
}

.product__discount {
  color: var(--accent-red);
}

.product__size {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product__size-item {
  cursor: pointer;
  background-color: transparent;
}

.product-slider {
  max-width: 340px;
}

.product-slider .slider__carousel {
  overflow: hidden;
}

.product-slider .card__arrow:first-child {
  top: 370px;
  left: 0;
}

.product-slider .card__arrow:last-child {
  top: 370px;
  right: 0;
}

.product-slider .slide__img {
  height: 340px;
  width: 340px;
  border-radius: 8px;
  cursor: pointer;
}

@media (hover: hover) {
  .product__size-item:hover {
    background-color: var(--card-hover);
  }
}

@media (max-width: 1000px) {
  .product__wrapper {
    width: 100%;
  }

  .discount__wrapper {
    width: 170px;
  }

  .product__buy-button {
    width: 100%;
  }
}

@media (max-width: 770px) {
  .product__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product__text-wrapper {
    margin-top: 40px;
  }

  .prices__wrapper {
    justify-content: space-between;
  }

  .product__buy-button {
    font-size: 12px;
  }
}

@media (max-width: 460px) {
  .product-slider {
    max-width: 288px;
  }

  .product__text-wrapper {
    margin-top: 70px;
  }

  .product-slider .slide__img {
    height: 288px;
    width: 288px;
  }

  .product-slider .card__arrow:first-child {
    top: 340px;
  }

  .product-slider .card__arrow:last-child {
    top: 340px;
  }
}

.product__size-item.inactive {
  cursor: not-allowed;
}

.product__size-item.active {
  background-color: var(--accent-blue);
  color: var(--main-light);
}
