.loader {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 20px auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--blue-loader);
  animation: preloader-5-spin 2s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--blue-light-loader);
  animation: preloader-5-spin 3s linear infinite;
}

.loader:after {
  content: "";
  position: absolute;
  inset: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--blue-loader);
  animation: preloader-5-spin 1.5s linear infinite;
}

@keyframes preloader-5-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
