.loginForm-inner {
  padding: 40px 10px 20px 10px;
  width: 380px;
}

.loginForm-heading {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--main-light);
}

.loginForm {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.showPassword {
  display: flex;
  justify-content: end;
  align-items: center;
}

.form-submit {
  cursor: pointer;
  width: 40%;
  margin: auto;
  background-color: var(--accent-blue);
  color: var(--main-light);
}

.disabled {
  background-color: var(--blue-disabled);
  cursor: not-allowed;
  pointer-events: none;
}

.togglePassword {
  width: 10%;
  margin-top: 0;
  position: relative;
  margin-right: 5px;
}
