.loginForm-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm-inner {
  width: 300px;
  height: 50%;
}

.loginForm-heading {
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.showPassword {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

input[type="checkbox"] {
  position: relative;
  bottom: -1px;
  margin-right: 10px;
}
