.promo-codes__wrapper {
  display: flex;
  gap: 20px;
}

.promo-code__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  border-bottom: 1px solid var(--main-light);
  background-color: var(--back-promo-code);
  box-shadow: 0 0 5px rgba(246, 244, 213, 1);
  color: var(--main-light);
  border-radius: 8px;
  width: 537px;
}

.promo-code__image {
  height: 170px;
  border-radius: 8px;
}

.promo-code__text-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 248px;
}

.promo-code__text {
  font-size: 22px;
  font-weight: 500;
  padding: 5px;
  color: var(--accent-light-blue);
}

.promo-code {
  width: 100%;
  padding: 5px;
  font-size: 28px;
  font-weight: 600;
  background-color: var(--card-grey);
  border-bottom: 1px solid var(--main-light);
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(246, 244, 213, 1);
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .promo-code__wrapper {
    width: 400px;
  }
}

@media screen and (max-width: 850px) {
  .promo-codes__wrapper {
    flex-direction: column;
  }

  .promo-code__wrapper {
    width: 360px;
  }

  .promo-code__text {
    font-size: 18px;
  }

  .promo-code {
    font-size: 16px;
  }
}

@media screen and (max-width: 420px) {
  .promo-code__image {
    height: 100px;
  }

  .promo-code__wrapper {
    width: 330px;
  }
}
