.modal-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--back-modal);
  z-index: 9999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  max-width: 600px;
  max-height: 600px;
  background-color: var(--back-modal-image);
  padding: 10px 10px;
  border-radius: 10px;
}

.hidden {
  visibility: hidden;
  opacity: 0px;
}

.cross {
  position: absolute;
  top: 16px;
  right: -40px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.modal-slider {
  position: none;
  width: auto;
  width: 100%;
}

.modal-slider .slider__carousel {
  overflow: hidden;
}

.modal-slider .slide__img {
  min-width: 95%;
  height: 580px;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .modal {
    width: 500px;
    height: 500px;
  }

  .modal-slider {
    max-width: 500px;
  }

  .modal-slider .slide__img {
    max-width: 490px;
    max-height: 480px;
  }
}

@media (max-width: 770px) {
  .modal {
    width: 450px;
    height: 450px;
  }

  .modal-slider {
    max-width: 450px;
  }

  .modal-slider .slide__img {
    max-width: 440px;
    max-height: 430px;
  }
}

@media (max-width: 550px) {
  .modal {
    width: 325px;
    height: 325px;
  }

  .modal-slider {
    max-width: 325px;
  }

  .modal-slider .slide__img {
    max-width: 315px;
    max-height: 305px;
  }

  .cross {
    top: -25px;
    right: -10px;
  }
}
