* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-black: #000000;
  --main-light: #f6f4d5;
  --dark-grey: #1c1c1c;
  --light-grey: #fbfaf3;
  --text-dark: #292929;
  --text-light: #ffffff;
  --accent-blue: #004cd0;
  --blue-hover: #1a6eff;
  --blue-disabled: #6079a5;
  --accent-red: #f64137;
  --card-grey: #333333;
}

body {
  background-color: var(--main-black);
  color: var(--main-light);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.5s ease;
}

.menu-item,
.login-link,
.registration-link {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  transition: color 0.5s ease;
}

.menu-item::after,
.login-link::after,
.registration-link::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -3px;
  display: block;
  width: 0;
  height: 0.5px;
  background-color: var(--blue-hover);
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

.active {
  color: var(--blue-hover);
}

h1 {
  position: relative;
  color: var(--main-light);
  text-align: center;
  z-index: 1;
}

.registration-form__heading,
.login-form__heading {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--main-light);
}

.registration-form,
.login-form {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  width: 100%;
  border: none;
  margin-top: 20px;
  padding: 10px 5%;
  background-color: var(--light-grey);
}

select,
select option {
  margin-top: 20px;
  width: 100%;
  padding: 10px 5%;
  background-color: var(--light-grey);
}

input:valid,
select:valid {
  border: none;
  box-shadow: inset 0px 0px 10px var(--accent-blue);
}

input:invalid {
  box-shadow: inset 0px 0px 10px var(--accent-red);
}

input[type="checkbox"] {
  box-shadow: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

button {
  font-size: 14px;
  padding: 10px;
  height: 35px;
  border: none;
  background-color: var(--accent-blue);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.submit-button {
  width: 50%;
  margin: auto;
}

.disabled {
  background-color: var(--blue-disabled);
  cursor: not-allowed;
  pointer-events: none;
}

.error-message {
  margin-top: 5px;
  font-size: 0.8em;
  color: var(--main-light);
}

.snackbar {
  background-color: var(--main-light);
  color: var(--main-black);
  padding: 10px;
  z-index: 100;
}

@media (hover: hover) {
  .menu-item:hover,
  .login-link:hover,
  .registration-link:hover {
    color: var(--blue-hover);
  }

  .menu-item:hover::after,
  .login-link:hover::after,
  .registration-link:hover::after {
    width: 100%;
  }

  button:hover {
    background-color: var(--blue-hover);
  }
}
